# Environment: local, staging, production
ENVIRONMENT=local

PROJECT_NAME="SmartPyhome"

# Backend
BACKEND_CORS_ORIGINS=""
SECRET_KEY=changethis
FIRST_SUPERUSER=admin
FIRST_SUPERUSER_PASSWORD=changethis

# RFID Access
RFID_HMAC_SECRET=changethis_min32chars_random_secret!

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis

# Docker image name
DOCKER_IMAGE_APP=app
