# Eniroments
.venv/
.env
.env.*
.envrc

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
static/
staticfiles/
logs/
*.log

# Tools/caches
.ruff_cache/
.pytest_cache/
.mypy_cache/
.cache/

# Coverage
.coverage
coverage.xml
htmlcov/

# Builds
dist/
build/
*.egg-info/
.eggs/
.tox/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Recordings
recordings/